
/acmedia/
/asm/
/crash-reports/
/hats/
/backup/
/blueprints/
/assets/
/libraries/
/journeymap/
/liteconfig/
/logs/
/config/
/local/
/saves/
/versions/
launcher_profiles.json
servers.dat
servers.dat.bak
tlauncher_profiles.json
minetweaker.log
BotaniaVars.dat
.curseclient
usernamecache.json
options.txt
*.ini
