
/acmedia/
/asm/
/crash-reports/
/hats/
/backup/
/blueprints/
/assets/
/libraries/
/journeymap/
/liteconfig/
/logs/
/config/
/local/
/saves/
/XaeroWorldMap/
/versions/
minetweaker.log
options.txt
servers.dat
servers.dat.bak
tlauncher_profiles.json
usernamecache.json
BotaniaVars.dat
.curseclient
launcher_profiles.json
config/fastcraft.ini
config/IC2.ini
betterfps.txt
*.armour
optionsof.txt
